* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 10px;
    font-family: "Bree Serif", serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;


}

.princ {
    flex-direction: column;
    margin-left: auto;
    text-align: center;
}

.um {
    background-color: white;
    border-radius: 2rem;
    width: 30rem;
    margin-bottom: 2rem;

    

    input {
        width: 25rem;
        height: 5rem;
        border-radius: 2rem;
        border: none;
        font-size: 1.6rem;
        outline: none;
    }
}

.esquerda {
    background-color: #45c587;
    display: flex;
    width: 90rem;
    height: 50rem;
    border-radius: 2rem ;
}

.direita {
    height: 100%;
    margin-left: auto;
    background-color: #ff3131;
    width: 50%;
    border-radius: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;

    img {
        width: 30rem;
        height: auto;
        margin-top: 8rem;
    }
}

h1 {
    font-size: 3.8rem;
    margin-bottom: 3rem;
    margin-top: 4rem;
    color: white;
}

h2 {
    font-size: 2.8rem;
    color: #45c587;
    margin-bottom: 1.8rem;
    margin-top: 9rem;
}

p {
    font-size: 1.5rem;
    color: #fff;
    margin-bottom: 2rem;
}

a {
    text-decoration: none;
    color: #fff;
    font-size: 2rem;
    font-weight: bold;
}

.registrar {
    padding: 1.2rem 10.3rem;
    background-color: #ff3131;
    border-radius: 2rem;
    align-items: center;
}

.regis {
    margin-top: 5rem;
}

.lg {
    padding: .6rem 4.5rem;
    border: solid 2px #fff;
    border-radius: 1.3rem;
}