*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 10px;
    font-family: "Bree Serif", serif;
}

header {
    background-color: #45c587;
    width: 100%;
    height: 10rem;
    display: flex;
    align-items: center;
    gap: 4.4rem;
    justify-content: center;

    a {
        text-decoration: none;
        color: #fff;
        font-size: 14px;
        margin-top: 2.5rem;
    }

    .culinaria {
        font-size: 5rem;
        margin-right: 4rem;
        margin-bottom: 2.5rem;
    }
}

main {
    background-color: #318374;
    height: 970vh;
    display: flex;
    justify-content: center;

    div {
        background-color: #fff;

        margin-top: 5rem;
        border-radius: 4rem;
        padding: 4rem;

        h1 {
            font-size: 3rem;
            margin-bottom: 3rem;
            text-align: center;
        }

        section {
            text-align: center;
            padding-top: 5rem;
            padding-inline: 10.5rem;
            
            strong {
                font-size: 2rem;

            }
            p {
                font-size: 1.6rem;
                margin-top: 1.5rem;
                text-align: justify;
                line-height: 2.5rem;
            }
        }
    }
}


.princ {

    width: 100rem;
    height: 600rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    

    p {
        font-size: 1.6rem;
        margin-inline: 3rem;

    }

.segunda {
    width: 90%;
    height: 96%;
    margin-bottom: 4rem;
    background-color: #318374;
    color:#fff;

    h2 {
        font-size: 2.8rem;
        text-align: center;
        margin-bottom: 4rem;
    }

    section {
        p{
            font-size: 1.6rem;
            text-align: center;
            margin-bottom: 2rem;
        }

        
    }
}
}