* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 10px;
    font-family: "Bree Serif", serif;
}

body {
    
    height: 100vh;
}

header {
    background-color: #45c587;
    width: 100%;
    height: 10rem;
    display: flex;
    align-items: center;
    gap: 4.4rem;
    justify-content: center;

    a {
        text-decoration: none;
        color: #fff;
        font-size: 14px;
        margin-top: 2.5rem;
    }
}

main {
    background-color: #318374;
    height: 450vh;
    display: flex;
    justify-content: center;

    div {
        background-color: #fff;
        width: 100rem;
        height: 250rem;
        margin-top: 5rem;
        border-radius: 4rem;
        padding: 1.9rem;

        h1 {
            font-size: 4rem;
            margin-bottom: 3rem;
            text-align: center;
        }

        section {
            text-align: center;
            padding-top: 5rem;
            padding-inline: 10.5rem;
            
            strong {
                font-size: 2rem;

            }
            p {
                font-size: 2rem;
                margin-top: 1.5rem;
                line-height: 2.4rem;
                text-align: justify;
            }
        }
    }
}

.cultura {
    font-size: 5rem;
    margin-right: 4rem;
    margin-bottom: 2.5rem;
}

.princ {
    display: flex;
    flex-direction: row;
    margin-bottom: 3rem;
}