*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 10px;
    font-family: "Bree Serif", serif;
}

header {
    background-color: #45c587;
    width: 100%;
    height: 10rem;
    display: flex;
    align-items: center;
    gap: 4.4rem;
    justify-content: center;

    a {
        text-decoration: none;
        color: #fff;
        font-size: 14px;
        margin-top: 2.5rem;
    }

    .economia {
        font-size: 5rem;
        margin-right: 4rem;
        margin-bottom: 2.5rem;
    }
}

main {
    background-color: #318374;
    height: 230vh;
    display: flex;
    justify-content: center;

    .princ {
        background: #fff;
        margin-top: 5rem;
        border-radius: 4rem;
        padding: 4rem;
        width: 100rem;
        height: 187rem;
        

        h1 {
            font-size: 3rem;
            margin-bottom: 5rem;
            text-align: center;
        }

        .esquerdo {
            display: flex;
           
            p {
                font-size: 2rem;
                margin-bottom: 8rem;
                text-align: center;
                margin-left: 4rem;
                margin-right: 10rem;
            }

            hr {
                width: 40rem;
                background-color: #45c587;
            }
        }

        .direito {
            display: flex;

            p {
                font-size: 2rem;
                margin-bottom: 8rem;
                text-align: center;
                margin-right: 4rem;
                margin-left: 10rem;
            }

            img {
                margin-left: 5rem;
            }
        }
    }
}

img {
    width: 27rem;
    height: auto;
}

p {
    width: 45rem;
}

