* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 10px;
    font-family: "Bree Serif", serif;
}

body {
    
    height: 100vh;
}

header {
    background-color: #45c587;
    width: 100%;
    height: 10rem;
    display: flex;
    align-items: center;
    gap: 4.4rem;
    justify-content: center;

    a {
        text-decoration: none;
        color: #fff;
        font-size: 14px;
    }
}

main {
    background-color: #318374;
    height: 140vh;
    display: flex;
    justify-content: center;

    div {
        background-color: #fff;
        width: 80rem;
        height: 80rem;
        margin-top: 5rem;
        border-radius: 4rem;
        padding: 1.9rem;
    }
}

.primeira {
    display: flex;
    flex-direction: row;
    margin-bottom: 3rem;
}

.segunda {
    display: flex;
    flex-direction: row;
    margin-bottom: 4rem;
}

img {
    width: 27rem;
    height: auto;
    border-radius: 1.8rem;
}

h2 {
    font-size: 4rem;
    text-align: center;
    margin-bottom: 2rem;
}



p {
    font-size: 1.8rem;
    text-align: center;
    margin-top: 2rem;
}

.um {
    font-size: 2.4rem;
    margin-left: 1.6rem;
    margin-top: 1.3rem;
}

.dois {
    font-size: 2rem;
    margin-right: 1.8rem;
}

.home{
    font-size: 5rem;
    margin-right: 4rem;
}

.outros {
    margin-top: 2.4rem;
}