* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 10px;
        font-family: "Bree Serif", serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.lado-esquerdo {
    background-color: #ff3131;
    width: 40%;
    border-radius: 2rem;
    display: flex;
    flex-direction: column;
    
    align-items: center;
}

.lado-direiro {
    background-color: #45c587;
    display: flex;
    width: 90rem;
    height: 50rem;
    border-radius: 2rem ;
   
}

main {
    border-radius: 2rem;
    
}

img {
    width: 20rem;
    height: auto;
}

.input_login {
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
}

input {
    width: 25rem;
    height: 5rem;
    border-radius: 2rem;
    border: none;
    font-size: 1.6rem;
    margin-bottom: 2rem;
    outline: none;
}

#logo {
    img {
        width: 18rem;
        margin-bottom: 3.0rem;
        margin-top: 2rem;
    }
}

h1 {
    font-size: 2.5rem;
    margin-bottom: 2.5rem;

    color: #45c587;
}

h2 {
    font-size: 3rem;
    margin-top: 7rem;
    margin-bottom: 4rem;
    color: white;
    text-align: center;
}

p {
    color: white;
    font-size: 1.1rem;
}

.cadastro {
    margin-top: 2rem;
    width: 12rem;
    height: 3.6rem;
    border-radius: 1.4rem;
    border: 1px solid white;
    background-color: #ff3131;
    color: white;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1.5rem;

        a {
        text-decoration: none;
        color: white;
        font-size: 1.8rem;
    }
}

.botao_login {
    width: 30rem;
    height: 5rem;
    border-radius: 2rem;
    background-color: #ff3131;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
    cursor: pointer;

        a {
        text-decoration: none;
        color: #fff;
        font-size: 2rem;
        font-weight: bold;
    }
}

.um {
    background-color: #fff;
    width: 30rem;
    height: 5rem;
    font-size: 1.6rem;
    margin-bottom: 2rem;
    border-radius: 2rem;

    img {
        margin-top: 1.3rem;
    }

    input {
        margin-left: 1rem;
    }
}



