*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 10px;
    font-family: "Bree Serif", serif;
}

header {
    background-color: #45c587;
    width: 100%;
    height: 10rem;
    display: flex;
    align-items: center;
    gap: 4.4rem;
    justify-content: center;

    a {
        text-decoration: none;
        color: #fff;
        font-size: 14px;
        margin-top: 2.5rem;
    }

    .quiz {
        font-size: 5rem;
        margin-right: 4rem;
        margin-bottom: 2.5rem;
    }
}

main {
    background-color: #318374;
    height: 250vh;
    display: flex;
    justify-content: center;

    .princ {
        background: #fff;
        margin-top: 5rem;
        border-radius: 4rem;
        padding: 4rem;
        width: 100rem;
        height: 90%;
        

        h1 {
            font-size: 3rem;
            margin-bottom: 5rem;
            text-align: center;
        }
        
        section {
            margin-top: 7rem;
            text-align: center;

          

            p {
                color: #318374;
                font-size: 2rem;
                margin-bottom: 5rem;
            
                
            }

            .opcao {
                display: flex;
                align-items: center; 
                gap: .5rem;
                margin-inline: 4rem;
                
            }

            .opcao2 {
                display: flex;
                align-items: center;                
                justify-content: center;

        
            }

            input {
                width: 2rem;
                height: 3rem;
                margin-right: 1.3rem;
                margin-bottom: 2.7rem;
            }
            label {
                font-size: 1.4rem;
                margin-right: 1.3rem;
                margin-bottom: 2.7rem;
            }
        }

    }
}